

<ion-content>
  <img src="../../assets/icon/img2.jpg" class="imagen-nueva-top-left">
  <div class="card-container">
    <div class="card">
      <ion-card>
        <ion-card-header class="custom-header">
          <ion-icon name="id-card-outline" class="custom-icon"></ion-icon>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button expand="full" [routerLink]="['/registro']" color="primary" class="register-button">Registrarse</ion-button>
        </ion-card-content>
      </ion-card>
      
      
      
    </div>

    <div class="card">
      <ion-card>
        <ion-card-header class="custom-header2">
          <ion-icon name="musical-notes-outline" class="icon"></ion-icon>
        </ion-card-header>

        <ion-card-content>
          <ion-button expand="full" (click)="goToAudioPlayerPage()">
              Musica
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <!-- Nuevas tarjetas debajo de las existentes -->
  <div class="card-container">
    <div class="card">
      <ion-card>
        <ion-card-header class="custom-header3">
          <ion-icon name="camera-outline" class="icon3"></ion-icon>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button (click)="goToDashboardPage()">CAMARA</ion-button>
        </ion-card-content>
      </ion-card>
      
    </div>

    <div class="card">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title 4</ion-card-title>
          <ion-card-subtitle>Card Subtitle 4</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Here's a small text description for Card 4 content.
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <img src="../../assets/icon/img3.jpg" class="imagen-nueva">
</ion-content>
